html, body {
    height: 100%;
    padding-top: 20px;
    /*margin-left: 10px;*/
    font-size: 100%;

}

.font_size_60{

    font-size: 60%;
}

.italic{

    font-style: italic;
}

.width_100{

    width: 100%;
}

.height_70{

    height: 70%;
}

.relative{

    position:relative;
}

.absolute{

    position:absolute;
}
/* listPostsViews */
.title_Accueil{

    background: url("images/im_1_alaska.jpg") no-repeat center center;
    background-size: cover;
    color: #212529;
    height:400px;
    padding-top: 100px;
}

.color_white{

    color: white;
}

.font_size_3{
font-size: 3rem;
}

.font_size_1_5{
    font-size: 1.5rem;
}

.container > p{
    /*text-align: center;*/
}

/* connection */

.connect{

    margin-top: 150px;
    margin-bottom: 50px;
    height: 500px;
}

.form-connect{

    margin-top: 50px;

}

/* footer */
