html, body {
    height: 100%;
    padding-top: 20px;
    /*margin-left: 10px;*/
    font-size: 100%;

}

/*h1{*/
    /*text-align: center;*/
/*}*/

/*.text_center{*/

    /*text-align: center;*/
/*}*/

.font_size_60{

    font-size: 60%;
}

.italic{

    font-style: italic;
}

.width_100{

    width: 100%;
}

.height_70{

    height: 70%;
}

.relative{

    position:relative;
}

.absolute{

    position:absolute;
}

.title_Accueil{

    background: url("images/Projet_4_image1.png") no-repeat center center;
    background-size: cover;
    height:25%;
    left:35%;
    top:25%;
}

.color_white{

    color: white;
}

.font_size_3{
font-size: 3rem;
}

.font_size_1_5{
    font-size: 1.5rem;
}